thead>tr:first-child>th:first-child {
    background-color: white;
}

caption {
    background-color: rgb(87, 2, 87);
    color: azure;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.dia {
    background-color: lightblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    padding: 15px;

}

.tiempo {
    background-color: rgb(8, 8, 100);
    color: white;
    border-radius: 10px;
    border-color: gray;
    width: 10%;
    margin: 2%;
    padding: 3%;
    border: 5px outset;
    text-indent: 0%;
    text-align: center;
}

th {
    border: 0px;
}

td {
    text-align: center;
    padding: 10px 10px;
    border: 2px outset;
}

tbody tr:first-child .tiempo {
    padding: 50px;
}

.recreo {
    background-color: aquamarine;
}

.sor {
    background-color: lightsalmon;
}

.servred {
    background-color: lightcoral;
}

.itemple {
    background-color: bisque;
}

.apweb {
    background-color: aqua;
}

.ing {
    background-color: goldenrod;
}

.python {
    background-color: violet;
}

.seguridad {
    background-color: gainsboro;
}

.sost {
    background-color: grey;
}

.digit {
    background-color: indigo;
    color: white;
}

td:hover {
    background-color: yellow;
    font-size: 18px;
}

.ing:hover {
    background-color: rgb(66, 66, 10);
    font-size: 18px;
    color: white;
}

.sor:hover {
    background-color: rgb(43, 119, 72);
    font-size: 18px;
    color: white;
}

.sost:hover {
    background-color: rgb(0, 255, 64);
    font-size: 18px;
}

.servred:hover {
    background-color: rgb(0, 225, 255);
    font-size: 18px;
}

.python:hover {
    background-color: rgb(255, 0, 191);
    font-size: 18px;
}

.itemple:hover {
    background-color: rgb(15, 66, 0);
    font-size: 18px;
    color: white;
}

.seguridad:hover {
    background-color: rgb(89, 175, 255);
    font-size: 18px;
}

th:hover {
    background-color: yellow;
    font-size: 18px;
}

caption:hover {
    background-color: yellow;
    font-size: 18px;
    color: black;
}

.tiempo:hover {
    background-color: yellow;
    font-size: 18px;
    color: black;
}

.digit:hover {
    background-color: #424079;
    font-size: 18px;
    color: black;
}

.apweb span {
    visibility: hidden;
}

.apweb:hover span {
    visibility: visible;
    display: block;
    background-color: hotpink;
}

.apweb:hover {
    background-color: rgb(255, 145, 0);
    font-size: 18px;
}

.recreo:hover {
    background-color: green;
}

